  [Desktop Entry]
  Version=1.0
  Type=Application
  Terminal=false
  Name=image-compressor 
  Exec=/usr/bin/image-compressor
  Comment=Amazing Image Compressor
  Icon=image-compressor.png
  StartupNotify=false
  Encoding=UTF-8
  Categories=Development;Math;Science;Graphics
